In [1]:
import pandas as pd

In [2]:
ESPN_FILE    = 'data/espnsuperflexppr.csv'
RINGER_FILE  = 'data/ringerppr.csv'
RESULTS_FILE = 'results.csv'

In [3]:
espn_rankings   = pd.read_csv(ESPN_FILE, header='infer')
ringer_rankings = pd.read_csv(RINGER_FILE, header='infer')

In [4]:
espn_rankings['ESPN'] = espn_rankings.index

In [5]:
espn_rankings.head()

              Name  Team  ESPN
0       Josh Allen   BUF     0
1  Patrick Mahomes    KC     1
2   Justin Herbert   LAC     2
3  Jonathan Taylor   IND     3
4    Lamar Jackson   BAL     4

In [6]:
ringer_rankings.head()

                  Name Position Team  Bye  Ringer
0  Christian McCaffrey       RB  CAR   13     1.0
1      Jonathan Taylor       RB  IND   14     2.0
2     Justin Jefferson       WR  MIN    7     3.0
3          Cooper Kupp       WR  LAR    7     4.0
4        Austin Ekeler       RB  LAC    8     5.0

In [7]:
results = espn_rankings.set_index('Name').join(ringer_rankings.set_index('Name'))

In [8]:
results.dropna(inplace=True)
results['Ringer'] = results['Ringer'].astype(int)
results['Bye'] = results['Bye'].astype(int)

In [9]:
results.head()

                 Team  ESPN Position Team  Bye  Ringer
Name
Josh Allen        BUF     0       QB  BUF    7      44
Patrick Mahomes    KC     1       QB   KC    8      58
Justin Herbert    LAC     2       QB  LAC    8      54
Jonathan Taylor   IND     3       RB  IND   14       2
Lamar Jackson     BAL     4       QB  BAL   10      55